*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/assetWizardSettings.xml
.idea/**/caches/
.idea/**/libraries/
.idea/**/modules.xml

/build/
*/build/
.gradle/
.cxx/
.externalNativeBuild/

local.properties

res/generated/

.DS_Store
Thumbs.db

*.apk
*.ap_
*.aab
*.dex
*.jar

*.log
crashlytics/

captures/
tmp/
